    <%- include ("../partials/footer") %>
    <script src="/js/global.js"></script>
    <% if (locals.scripts && scripts.length > 0) { %>
        <% scripts.forEach(script => { %>
            <script src="<%= script %>"></script>
        <% }) %>
    <% } %>
</body>
</html>