.form__game{
    padding: 20px;
    font-size: inherit;
}

.form__game form{
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    font-size: 1.6em;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.form__game form h1{
    width: 100%;
}

.form__game form .alert{
    width: 100%;
    padding: 20px;
    border-radius: 15px;
}

.form__game form .alert-danger{
    background-color: var(--rojo);
    border: 3px solid var(--rojo-oscuro);
    color: var(--blanco);
}

form .alert-danger ul{
    list-style-type: none;
}

.form__game form .campo-50{
    padding: 10px;
    width: 45%;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.campo-50 label{
    width: 100%;
}

.campo-50 input{
    width: 100%;
    padding: 7px 14px;
    border: none;
    border-bottom: 1px solid var(--azul);
    background-color: transparent;
    margin-bottom: 5px;
}

input.form--valid{
    border-bottom: 1px solid var(--azul);
}

input.form--invalid{
    border: 2px solid var(--rojo);
    border-radius: 5px;
}

.form__message{
    display: none;
}

.form__message--visible{
    display: block;
    width: 100%;
    font-size: .725em;
    color: var(--rojo);
}

.campo-50 input:focus{
    border-radius: 5px;
    background-color: white;
    outline: none;
    border: none;
    box-shadow: 0 1px 5px var(--purpura);
}
.campo-50 input[type=file]{
    border: none;
}

.form__game form .campo{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    gap: 10px;
    column-gap: 30px;
}

form .campo p{
    width: 100%;
}

form .campo .label-100{
    width: 100%;
}

form .campo textarea{
    width: 100%;
    padding: 7px 14px;
    border-radius: 5px;
    font-size: 1.1em;
    border: none;
    border: 1px solid var(--azul);
}

form .campo textarea:focus{
    border: none;
    outline: none;
    box-shadow: 0 0 5px var(--purpura);
}

form .campo textarea.form--valid{
    border: 1px solid var(--azul);
}

form .campo textarea.form--invalid{
    border: 2px solid var(--rojo);
    border-radius: 5px;
}

form .button{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

form .button button{
    font-size: 1em;
}