.detail__title--primary{
    margin-top: 15px;
    font-size: 4.2em;
    text-align: center;
}

.detail__game{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px;
    font-style: inherit;
}

.detail__game--gallery{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail__game--gallery .detail__picture{
    max-width: 650px;
    width: 100%;
    padding: 20px;
}
.detail__game--gallery .detail__picture img{
    width: 100%;
}

.detail__game--detail{
    width: 100%;
    padding: 15px;
    border-top: 1px solid var(--azul);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.detail__game--detail .detail__title{
    font-size: 2.8em;
    margin-bottom: 10px;
}

.detail__game--detail .detail__price{
    font-size: 3.6em;
    font-style: italic;
    margin-bottom: 10px;
}

.detail__game--detail .detail__description{
    font-size: 1.6em;
    margin-bottom: 10px;
    text-align: justify;
    padding: 7px 0;
}

.detail__game--detail .detail__categories{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
}


.detail__category--platforms span,
.detail__category--genres span{
    color: var(--negro);
    font-size: 1.2em;
    font-weight: bold;
}

.detail__game--detail .detail__categories .detail__category--platforms,
.detail__game--detail .detail__categories .detail__category--genres{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    color: var(--blanco);
    width: 100%;
}

.detail__category--platforms .detail__platform{
    font-size: 1.2em;
    background-color: var(--purpura);
    padding: 5px 10px;
    border-radius: 5px;
}

.detail__category--genres .detail__genre{
    font-size: 1.2em;
    background-color: var(--azul);
    padding: 5px 10px;
    border-radius: 5px;
}

.detail__game--detail .detail__state{
    font-style: italic;
    font-size: 1.4em;
    margin-bottom: 10px;
}

.detail__game--detail .detail__count{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6em;
    margin: 10px 0;
}

.detail__game--detail .detail__count label{
    margin-right: 10px;
    font-weight: bold;
    color: var(--azul);
}

.detail__game--detail .detail__count .detail__count--number{
    max-width: 100px;
    width: 100%;
    text-align: center;
    border: none;
    border-bottom: 1px solid var(--negro);
    background-color: transparent;
    padding: 10px 0;
    font-size: 1.2em;
    margin: 0 10px;
}

.detail__game--detail .detail__count .detail__count--number:focus{
    outline: none;
    border: none;
    box-shadow: 0 0 5px var(--azul);
    border-radius: 20px;
}

.detail__game--detail .btn__shopping{
    margin: 5px 0;
    padding: 15px 0;
    font-size: 1.6em;
    text-transform: uppercase;
}

.games{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-around;
    gap: 10px;
}

.games__title{
    width: 100%;
    font-size: 1.8em;
    margin-bottom: 10px;
}

.games__detail{
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #e1e1e1;
    border-radius: 7px;
    overflow: hidden;
    text-decoration: none;
    background-color: var(--blanco);
}

.games__detail:hover{
    border: none;
    box-shadow: 0 0 10px var(--purpura);
    cursor: pointer;
}

.games__detail a{
    text-decoration: none;
}

.games__image{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.games__image img{
    height: 100%;
}

.games__content{
    padding: 15px;
}

.games__content .games__name{
    font-size: 2em;
}

.games__content .games__price{
    font-size: 2.2em;
}

.games__content .games__categories{
    font-style: italic;
    font-size: 1.2em;
}

@media screen and (min-width: 576) {
    .detail__game--gallery{
        width: 50%;
    }
    .detail__game--detail{
        width: 50%;
    }
}

@media screen and (min-width: 769px) {
    .detail__game--gallery{
        width: 60%;
    }
    .detail__game--detail{
        width: 40%;
        border: none;
        border-left: 1px solid var(--azul);
    }
}