@import './general/styles.css';
@import './general/header.css';
@import './general/footer.css ';

main.product-detail{
    font-size: var(--text-sm);
}

main.product-detail > .ubication{
    font-size: var(--text-lg);
    font-weight: bold;
    padding: 10px;
    border-bottom: 1px solid #e7e7e7;
}

main.product-detail > .categories{
    padding: 10px;
    display: none;
}

main.product-detail > .product{
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--purpura);
}

main.product-detail > .product picture.img{
    width: 100%;
    height: 360px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
}

main.product-detail > .product img{
    height: 100%;
}

main.product-detail > .product .price{
    font-size: 30px;
    font-weight: bold;
}

main.product-detail > .product .description{
    font-size: var(--text-md);
    margin-bottom: 20px;
}

main.product-detail > .product .count{
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 50px;
    gap: 10px;
    margin-bottom: 20px;
}

main.product-detail > .product .count button{
    width: 50px;
    font-size: var(--text-md);
    border: none;
    background-color: var(--azul);
    border-radius: 5px;
    color: var(--blanco);
}

main.product-detail > .product .count input{
    padding: 6px 12px;
    width: 100px;
    text-align: center;
    font-size: var(--text-md);
    border: none;
    border-bottom: 2px solid #e1e1e1;
}

main.product-detail > .product .send button{
    width: 100%;
    margin: 10px 0;
    padding: 15px 0;
    background-color: var(--verde);
    color: var(--blanco);
    border: none;
    border-radius: 5px;
    font-size: var(--text-md);
}

main.product-detail > .detail{
    padding: 10px;
}

main.product-detail > .detail .description h2{
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 10px;
}

main.product-detail > .detail .description p{
    font-size: var(--text-md);
    margin-bottom: 10px;
    line-height: 1.5;
}

main.product-detail > .detail .valoration{
    margin-bottom: 10px;
}

main.product-detail > .detail .valoration i{
    font-size: var(--text-lg);
}
main.product-detail > .detail .valoration i:hover{
    color: var(--purpura);
}

main.product-detail > .comment{
    margin-bottom: 10px;
}

@media screen and (min-width: 576px) {
    main.product-detail > .product{
        display: flex;
        flex-wrap: nowrap;
    }
    main.product-detail > .product picture.img{
        width: 50%;
    }
    main.product-detail > .product article{
        width: 50%;
    }
}

@media screen and (min-width: 992px) {
    main.product-detail > .product{
        justify-content: space-between;
    }
    main.product-detail > .product picture.img{
        width: 50%;
    }
    main.product-detail > .product article{
        width: 40%;
    }
}