@import url('./general/styles.css');
@import url('./general/header.css');
@import url('./general/footer.css'); 

:root {
    /* Colores */
    --purpura: #682D63;
    --azul: #414288;
    --verde: #00635D;
    --blanco-principal: #FFFAFF;
    --blanco: #FFFFFF;
    --negro: #000000;
    /* Tamaños de Fuentes */
    --text-sm: 1.2em;
    --text-sm: 1.6em;
    --text-lg: 1.8em;
    --title-md: 2.4em;
    /* Familias de Fuentes */
}
/* ---------------------------- MAIN FORM-REGISTER ---------------------------- */

section main .form-register{
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  font-size: var(--text-md);
  border-radius: 10px;
  background-color: var(--purpura);
  color:var(--blanco);
  box-shadow: 7px 13px 37px var(--negro);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

section main .form-register div.campo{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

section main .form-register label{
  margin-bottom: 5px;
}

main .form-register .campo input{
  padding: 6px 12px;
}

main .form-register .button{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

section main .form-register .button button{
  width: 100%;
  padding: 12px 15px;
  background-color: var(--azul);
  color: var(--blanco);
  border-radius: 5px;
  align-items: center;
  text-transform: uppercase;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

section main .form-register .button button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
  
@media screen and (min-width: 769px){
  header div.top-header{
    flex-wrap: nowrap;
    align-items: center;
    padding: 10px;
  }
  main section div.products article{
    width: 22%;
  }
  /* section main .form-register .button button */
  /* ---------------------------- MAIN FORM-REGISTER ---------------------------- */

  section main .form-register{
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 700px;
  }
 section main .form-register div.campo{
    width: 45%;
    margin: 10px 2.5%;
  }
 section main .form-register div.block{
    width: 100%;
  }
  section main .form-register .button{
    flex-direction: row;
    justify-content: space-around;
    margin: 16px 0px;
  }
 section main .form-register .button button{
    width: auto;
    padding: 16px 20px;
  }

  /* ---------------------------- MAIN FORM-PARAGRAPH ---------------------------- */

.section main div .p-info{
  margin: auto;
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 0px 20px  12px ;

}

.section main div .p-info a {
  text-decoration: none;
  color: var(--blanco);
}
  
}