:root {
    /* Colores */
    --purpura: #682D63;
    --azul: #414288;
    --verde: #00635D;
    --blanco-principal: #FFFAFF;
    --blanco: #FFFFFF;
    --negro: #000000;
    /* Tamaños de Fuentes */
    --text-sm: 1.2em;
    --text-sm: 1.6em;
    --text-lg: 1.8em;
    --title-md: 2.4em;
    /* Familias de Fuentes */
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ESTILOS COMUNES */

html{
    font-size: 62.5%;
}

body{
    background-color: var(--blanco-principal);
    font-family:'Open Sans Condensed', sans-serif;
}

section p {
    text-align: center;
}

.registrar{
    width: 100%;
    height: 40px;
    background: var(--azul);
    color: var(--blanco);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-bottom: 16px;       
}



/* h1,h2,h3{
    font-family: ;
} */

h1{
    font-size: 3.2em;
}

h2{
    font-size: 2.4em;
}

h3{
    font-size: 1.872em;
}

section {
    width: 400px;
    height: 440px;
    background: var(--purpura);
    margin: auto;
    margin-top: 180px;
    box-shadow: 7px 13px 37px var(--negro);
    padding: 20px 30px;
    border-top: 4px solid var(--azul);
    color: var(--blanco);
    font-size: var(--text-lg);
    }

    .controls{
        width: 100%;
    border: 1px solid var(--azul);
    margin-bottom: 15px;
    padding: 11px 10px;
    background: var(--blanco);
    font-size: 14px;
    font-weight: bold;
    }