@import url('./general/styles.css');
@import url('./general/header.css');
@import url('./general/footer.css');

:root {
    /* Colores */
    --purpura: #682D63;
    --azul: #414288;
    --verde: #00635D;
    --blanco-principal: #FFFAFF;
    --blanco: #FFFFFF;
    --negro: #000000;
    /* Tamaños de Fuentes */
    --text-sm: 1.2em;
    --text-sm: 1.6em;
    --text-lg: 1.8em;
    --title-md: 2.4em;
    /* Familias de Fuentes */
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ESTILOS COMUNES */

html{
    font-size: 62.5%;
}

h1{
    font-size: 3.2em;
}

h2{
    font-size: 2.4em;
    color: var(--blanco);
    text-align: center;
}

h3{
    font-size: 1.872em;
}

.logo{
    width:155px;
}

.listanav{
    display: flex;
}

li{
    list-style: none;
}
nav {
    display: flex;
    justify-content: space-around;
}
.contenedorprd{
    background-color: rgba(104, 45, 99, 0.6);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}


.contenedor{
    background-color: rgba(104, 45, 99, 0.8);
    padding: 10px;
    display: flex;
    position: sticky;
}


.titulo{
    color: white;
    background-color: rgba(104, 45, 99, 0.6);
    margin:0;
}

@media screen and (min-width:375px){
    h1{
        font-size: 2em;
    }
    .logo{
        width:100px;
    }
}
@media screen and (min-width:769px){

}