@import url('../css/general/styles.css');
@import url('../css/general/footer.css');

.body-car{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(128, 0, 128, 0.5);
}
.miga{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 0 2vw;
    width: 100vw;
    background-color: purple;
}

.titulo_carro h1{
    margin: 0 10px;
    color: #fff;
    font-size: 6vw;
}

.miga_logo img{
    width: 20vw;
    margin: 4px;
}
.miga_carrito p{
    display: none;
}

.carrito{

    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    height: 60vh;
    width: 100%;
}

.product{
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-wrap: nowrap;
    margin: 5px 0px;
    width: 100vw;
    justify-content: space-around;
    border-radius: 15px;

}

.product-des{
    display: flex;
    flex-direction: column;
    width: 60vw;
    font-size: 3vw;
    justify-content: space-around;
    color: #fff;
}
.product-des h1{
    color: #fff;
    font-size: 4vw;
    margin-top: 1vw;
}

.img-product{
    padding: 1vw;
    width: 20vw;
    
}

.img-product img{
    width: 100%;
}

.caneca-precio{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 0 5px;
}

.caneca{
    font-size: 5vw;
    margin: 10px;
    color: rgb(58, 54, 54);
    text-align: center;
}

.precio{
    color: #fff;
    font-weight: bolder;
    font-size: 3vw;
}
.add-product input{
    width: 5vw;
    background-color: transparent;
    border: none;
    font-size: 3vw;
    text-align: center;
}
::placeholder{
    color: #fff;
}

.add-product button{
    width: 5vw;
    background-color: rgba(125, 125, 125, 0.9);
    border: none;
    font-size: 3vw;
    text-align: center;
    color: #fff;
}
.resumen{
    padding: 0px 7px;
    background-color: purple;
}
.products-precio{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 4px 7px;
    font-size: 5vw;
    color: #fff;
}
.total{
    background-color: purple;
    padding-bottom: 4px;
}
.suma-total{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4px 7px;
    font-size: 5vw;
    color: #fff;
}
.suma-total-numero{
    font-size: 8vw;
}
.boton-pago{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 8vw;
}
.button-pago{
    background-color: yellow;
    white-space: inherit;
    font-size: 8vw;
    padding: 0px 75px;
}
@media screen and (min-width: 500px) {
    .carrito .list{
        width: 80%;
    }
    .carrito .resumen{
        width: 20%;
    }
}