<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de login</title>
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap" rel="stylesheet">
</head>

<body>
    <section class="container-center-xy">
        <div class="contenedor">
            <div class="mb-2">
                <button>
                    <a href="#" class="fb_btn btn">
                        <i class="fa fa-facebook fa-fw"></i> Login with Facebook
                    </a>
                </button>
                <button>
                    <a href="#" class="google_btn btn">
                        <i class="fa fa-google fa-fw"></i> Login with Google+
                    </a>
                </button>
            </div>
            <form>
                <h2>ACCEDER</h2>
                <div class="mb-2">
                    <label class="form-label" for="usuario">Nombre de usuario o correo electronico</label>
                    <input class="form-control" type="text" id="usuario" placeholder="usuario">
                </div>
                <div class="mb-2">
                    <label class="form-label" for="contrasena">Contraseña</label>
                    <input class="form-control" type="password" id="contrasena" placeholder="contraseña">
                </div>
                <div class="mb-2">
                    <a href="#">Recordar contraseña</a>
                </div>
                <div class="mb-2">
                    <button class="btn-ingresar" type="submit">Ingresar</button>
                </div>
            </form>
        </div> 
    </section>
    
    <!-- <section>
        <button>
            <a href="#" class="fb_btn btn">
                    <i class="fa fa-facebook fa-fw"></i> Login with Facebook</a>
            </button>
            <button>
                <a href="#" class="google_btn btn"><i class="fa fa-google fa-fw">
                </i> Login with Google+
            </a>
            </button>
                <h5 class="acceder"> ACCEDER</h5> 
            <BR></BR>

            <label for="usuario">Nombre de usuario o correo electronico *</label>
            <input class="controls" type="text" name="usuario" value="" placeholder="usuario">

            <label for="usuario">contraseña *</label>
            <input class="controls" type="password" name="contrasena" value="" placeholder="contraseña">

            <input type="checkbox" class="check_box" name="recuérdame" id="recuérdame"><span>Recordar contraseña</span>

            <input class="buttons" type="submit" name="" value="Ingresar" placeholder=""> 
            <p><a href="#">¿Olvidaste la contraseña?</a> </p>
        </section> -->
        <!-- git push -u origin " -->

    
</body>

</html>