<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de registro</title>
    <link rel="stylesheet" href="/css/register.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap" rel="stylesheet">
</head>
<body>
    <section>
        <form action="" method="post">
            <div class="form_register">
                <h2 class="form_register--nombre">REGISTRARSE</h2> 
                
                <label for="form__register--email">Dirección de correo electrónico *</label>
                <input class="controls" type="email" name="form__register--email" id="correo">
            </div>
            <p class="p_enviar">Se enviará una contraseña a tu dirección de correo electrónico.</p>
            <br>
            <p class="p_datos">Tus datos personales se utilizarán para procesar tu pedido, mejorar tu experiencia en esta web, gestionar el acceso a tu cuenta y otros propósitos descritos en nuestra política de privacidad.</p>
        </form>
    
        <button class="registrar" type="submit" class="Enviar">REGISTRARSE</button>
    </section>
    <!-- hola -->
</body>
</html>