<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de shopcar</title>
    
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/general/normalize.css">
    <link rel="stylesheet" href="/css/shopcar.css">
    <link rel="stylesheet" href="/css/general/styles.css">
</head>
<body>
    <header>
        Hola Mundo
    </header>
    <main>
        <div class="container carrito">
            <section class="list">
                <article class="product">
                    <picture class="product_image">
                        <img src="/img/img-warcraft.jpg" alt="">
                    </picture>
                    <div class="product__description">
                        <div class="product__title">
                            <h2>Lorem, ipsum dolor.</h2>
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </div>
                        <div class="product__text">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex voluptas quod molestias porro! Eos, repellendus.
                        </div>
                        <div class="product__footer">
                            <div class="product__count">
                                <button type="button">-</button>
                                <input type="number">
                                <button type="button">+</button>
                            </div>
                            <div class="product_price">
                                <p>$ 50000</p>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="product">
                    <picture class="product_image">
                        <img src="/img/img-warcraft.jpg" alt="">
                    </picture>
                    <div class="product__description">
                        <div class="product__title">
                            <h2>Lorem, ipsum dolor.</h2>
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </div>
                        <div class="product__text">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex voluptas quod molestias porro! Eos, repellendus.
                        </div>
                        <div class="product__footer">
                            <div class="product__count">
                                <button type="button">-</button>
                                <input type="number">
                                <button type="button">+</button>
                            </div>
                            <div class="product_price">
                                <p>$ 50000</p>
                            </div>
                        </div>
                    </div>
                </article>
            </section>
            <section class="resumen">
                asdasdasdas
            </section>
        </div>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>