<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de shopcar</title>
    
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/general/normalize.css">
    <link rel="stylesheet" href="/css/shopcar.css">
    <link rel="stylesheet" href="/css/general/styles.css">
</head>
<body>
    <header>
        <nav>
            <a href="/"><img class="logo" src="/img/mainLogo.png" alt= "logo"></a>
            <ul class="listanav">
                <li><a href="/shopCar">
                        <strong>1</strong>
                        <span>Carro</span>
                    </a>
                </li>
                <li><a href="">
                        <strong>2</strong>
                        <span>Pago</span>
                    </a>
                </li>
                <li><a href="">
                        <strong>3</strong>
                        <span>Obtener producto</span>
                    </a>
                </li>               
            </ul>
            <button type="button">
                <span>
                    <img src="https://cdn.eneba.com/flags/lang/v2/colombia.svg" alt="Colombia" height="16">
                </span>
                <span>
                    <span>Colombia</span>
                    <span>(Español Latinoamericano)</span>
                </span>
                <span>COP</span>                       
            </button>
        </nav>
    </header>
        
        <h1 class="titulo">Mi cesta</h1>
    <section class="contenedorprd">  
        <ul>
            <li><a href="#">Acá va el producto 1</a></li>
            <li><a href="#">Acá va el producto 2</a></li>
            <li><a href="#">Acá va el producto 3</a></li>
            <li><a href="#">Acá va el producto 4</a></li>
        </ul>
    </section>
    <section class="contenedor">
        <div>
            <h1>Resumen</h1>
            <article>
                1 producto     $$
            </article>
        </div>
        <div>
            <article>
                Total      $$$
            </article>
            <button>
                Ir a pago
            </button>
        </div>
    </section>
<!--     <footer class="contenedor">
        Lee nuestras opiniones
    </footer> -->
</body>
</html>