<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/tablaProducto.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <title>Productos</title>
</head>
<body>
    <!-- header -->
    <%- include ("../partials/header")  %>
    <!-- header end -->
    <h1>Listado de productos</h1>
    <div class="button_edit">
      <a href="#" class="create"><button type="submit">Crear</button></a>
    </div>
    <div class="container">
        <table class="table_container">
            <tr>
              <th>Id</th>
              <th>imagen</th>
              <th>Nombre del producto</th>
              <th><i class="far fa-edit"></i></th>
              <th><i class="far fa-trash-alt"></i></th>
            </tr>
            <tr>
              <td>Alfreds Futterkiste</td>
              <td>Maria Anders</td>
              <td>Germany</td>
              <td><a href="#"><button type="submit">editar</button></a></td>
              <td><a href="#"><button type="submit">eliminar</button></a></td>
            </tr>
            <tr>
              <td>Centro comercial Moctezuma</td>
              <td>Francisco Chang</td>
              <td>Mexico</td>
              <td><a href="#"><button type="submit">editar</button></a></td>
              <td><a href="#"><button type="submit">eliminar</button></a></td>
            </tr>
            <tr>
                <td>Centro comercial Moctezuma</td>
                <td>Francisco Chang</td>
                <td>Mexico</td>
                <td><a href="#"><button type="submit">editar</button></a></td>
                <td><a href="#"><button type="submit">eliminar</button></a></td>
              </tr>
              <tr>
                <td>Centro comercial Moctezuma</td>
                <td>Francisco Chang</td>
                <td>Mexico</td>
                <td><a href="#"><button type="submit">editar</button></a></td>
                <td><a href="#"><button type="submit">eliminar</button></a></td>
              </tr>
              <tr>
                <td>Centro comercial Moctezuma</td>
                <td>Francisco Chang</td>
                <td>Mexico</td>
                <td><a href="#"><button type="submit">editar</button></a></td>
              <td><a href="#"><button type="submit">eliminar</button></a></td>
              </tr>
              <tr>
                <td>Centro comercial Moctezuma</td>
                <td>Francisco Chang</td>
                <td>Mexico</td>
                <td><a href="#"><button type="submit">editar</button></a></td>
                <td><a href="#"><button type="submit">eliminar</button></a></td>
              </tr>
              <tr>
                <td>Centro comercial Moctezuma</td>
                <td>Francisco Chang</td>
                <td>Mexico</td>
                <td><a href="#"><button type="submit">editar</button></a></td>
                <td><a href="#"><button type="submit">eliminar</button></a></td>
              </tr>
              <tr>
                <td>Centro comercial Moctezuma</td>
                <td>Francisco Chang</td>
                <td>Mexico</td>
                <td><a href="#"><button type="submit">editar</button></a></td>
                <td><a href="#"><button type="submit">eliminar</button></a></td>
              </tr>
              <tr>
                <td>Centro comercial Moctezuma</td>
                <td>Francisco Chang</td>
                <td>Mexico</td>
                <td><a href="#"><button type="submit">editar</button></a></td>
                <td><a href="#"><button type="submit">eliminar</button></a></td>
              </tr>
              <tr>
                <td>Centro comercial Moctezuma</td>
                <td>Francisco Chang</td>
                <td>Mexico</td>
                <td><a href="#"><button type="submit">editar</button></a></td>
              <td><a href="#"><button type="submit">eliminar</button></a></td>
              </tr>
          </table>

    </div>
    
    <!-- footer -->
    <%- include('../partials/footer') %> 
    <!-- footer end -->
        
    
</body>
</html>