<!-- CABECERA -->
<header class="header">
    <nav class="container nav">
        <input type="checkbox" id="nav__checkbox" class="nav__checkbox">
        <label for="nav__checkbox" class="nav__toggle">
            <i class="fas fa-bars menu"></i>
            <i class="fas fa-times close"></i>
        </label>
        <ul class="nav__menu" style="margin-bottom: 10px;">
            <li class="menu__logo">
                <a href="/" style="padding: 0;">
                    <img src="/img/mainLogo.png" alt="">
                </a>
            </li>
        </ul>
        <ul class="nav__menu">
            <li style="display:none;"></li>
            <li><a href="/">Inicio</a></li>
            <% if (!locals.isLogged) { %>
                <li><a href="/user/login">Login</a></li>
            <% } %>
            <li>
                <a href="/user/register">Registro</a>
            </li>
            <div class="d-flex nav__icon">
                <li>
                    <div class="shopping">
                        <a href="#">
                            <span class="price">$ 15.855</span>
                            <i class="fas fa-shopping-cart shopping">
                                <span>0</span>
                            </i>
                        </a>
                    </div>
                </li>
                <% if (locals.isLogged) { %>
                    <li class="user">
                        <a href="#" style="display: flex;justify-content: center;align-items: center;gap: 5px;">
                            <% if (user.image !== 'default-user.svg') { %>
                                <picture class="avatar">
                                    <img src="/img/Avatars/<%= user.image %>" alt="avatar" class="avatar__img">
                                </picture>
                            <% } else { %>
                                <i class="fas fa-user"></i>
                            <% } %>
                            <%= user.username %>
                        </a>
                    </li>
                <% } %>
            </div>
        </ul>
    </nav>
</header>
<section class="form-search">
    <form class="container nav__form">
        <input type="text" placeholder="Buscar Producto...">
        <button type="button">
            <i class="fas fa-search"></i>
        </button>
    </form>
</section>
<!-- FIN CABECERA -->