<header>
    <nav class="nav">
        <section class="nav__container">
            <picture class="nav__logo">
                <a href="/">
                    <img src="/img/mainLogo.png" height="100%" alt="Logo">
                </a>
            </picture>
            <ul class="nav__links">
                <li class="nav__item">
                    <a href="/" class="nav__link">Inicio</a>
                </li>
                <% if (!locals.isLogged) { %>
                    <li class="nav__item">
                        <a href="/user/login" class="nav__link">Login</a>
                    </li>
                    <li class="nav__item">
                        <a href="/user/register" class="nav__link">Registrarse</a>
                    </li>
                <% } else { %>
                    <li class="nav__item nav__item--show">
                        <a class="nav__link">
                            <picture class="nav__avatar">
                                <img src="/img/Avatars/<%= user.image !== 'default-user.svg' ? user.image : 'default-user.svg' %> " <%= user.image === 'default-user.svg' ? 'height=80%' : null %>  alt="avatar">
                            </picture>
                            <%= user.username %>
                            <i class="fas fa-angle-down nav__arrow"></i>
                        </a>
                        <ul class="nav__nesting">
                            <li class="nav__inside">
                                <a href="/user/profile" class="nav__link nav__link--inside">Ver perfil</a>
                            </li>
                            <li class="nav__inside">
                                <a href="/user/logout" class="nav__link nav__link--inside">Cerrar Sesion</a>
                            </li>
                        </ul>
                    </li>
                <% } %>
                <li class="nav__item">
                    <a href="/user/register" class="nav__link nav__shopping">
                        $ 10.000 <i class="fas fa-shopping-cart"></i>
                    </a>
                </li>
            </ul>
            <button class="nav__hamburguer">
                <i class="fas fa-bars"></i>
                <!-- <img src="img/menu.svg" class="nav__hamburguer--img" alt="menu"> -->
            </button>
        </section>
    </nav>
</header>