<% const styles = ['/css/login.css'] %>
<%- include('../layout/startPage',{title: 'Login',styles}); %>
<section class="container-center-xy">
    <div class="contenedor">
        <div class="mb-2">
            <button>
                <a href="#" class="fb_btn btn">
                    <i class="fa fa-facebook fa-fw"></i> Login with Facebook
                </a>
            </button>
            <button>
                <a href="#" class="google_btn btn">
                    <i class="fa fa-google fa-fw"></i> Login with Google+
                </a>
            </button>
        </div>
        <form action="/user/login" method="POST"  class="login" id="login">
            <h2>ACCEDER</h2>
            <% if(locals.errors && errors.email){ %>
                <p style="color:#f90808;background-color:#ed191942;border-radius:8px;text-align:center; font-size: 16px; padding: 5px;"><%= errors.email.msg %></p>
            <% } %>
            <div class="mb-2 login__grupo" id="login-email">
                <label class="form-label" for="email">Nombre de usuario o correo electronico</label>
                <input class="form-control" type="text" name="email" id="email" placeholder="usuario" value="<%= locals.oldData && oldData.email ? oldData.email : '' %>">
                <div class="form-control-error">Por favor ingresa un nombre de usuario o correo registrado</div>
            </div>
            <div class="mb-2 login__grupo" id="login-password">
                <label class="form-label" for="contrasena">Contrase単a</label>
                <input class="form-control" type="password" name="password" id="password" placeholder="contrase単a">
                <div class="form-control-error">Contrase単a Incorrecta</div>
            </div>
            <div class="mb-2 login__grupo" id="login-recordar">
                <label class="form-label" for="recordar">
                    <input type="checkbox" name="recordar" id="recordar"> Recordar mi usuario
                </label>
            </div>
            <div class="mb-2">
                <a href="#">Recordar contrase単a</a>
            </div>
            <div class="mb-2">
                <button class="btn-ingresar" type="submit">Ingresar</button>
            </div>
        </form>
    </div>
</section>
<% const scripts = ['/js/validacionLogin.js'] %>
<%- include('../layout/endPage',{scripts}) %>