.nav{
    background-color: var(--purpura);
    text-transform: uppercase;
    color: #fff;
    height: 70px;
    font-size: inherit;
    box-shadow: 0 0 5px var(--negro);
}

.nav__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    font-size: 1.4em;
}

.nav__logo{
    display: flex;
    align-items: center;
    height: 70%;
}

.nav__logo a{
    height: 100%;
}

.nav__links{
    height: 100%;
    transition: transform .5s;
    display: flex;
}

.nav__item{
    list-style: none;
    position: relative;
    height: 100%;
    --clip: polygon(0 0,100% 0, 100% 0, 0 0);
    --transform : rotate(-90deg);
}
.nav__item:hover{
    --clip: polygon(0 0,100% 0, 100% 100%, 0% 100%);
    --transform : rotate(0);
}

.nav__link{
    color: var(--blanco);
    text-decoration: none;
    padding: 0 10px;
    display: flex;
    align-items: center;
    height: 100%;
}

.nav__avatar{
    display: flex;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 5px;
    background-color: var(--negro);
}

.nav__avatar img{
    width: 100%;
}

.nav__link:hover{
    background-color: var(--purpura-oscuro);
}

.nav__arrow{
    transform: var(--transform);
    transition: transform .3s;
    display: block;
    margin-left: 5px;
}

.nav__nesting{
    list-style: none;
    transition: clip-path .3s;
    clip-path: var(--clip);
    position: absolute;
    right: 0;
    bottom: 0;
    width: max-content;
    transform: translateY(100%);
    background-color: var(--purpura);
}

.nav__link--inside{
    padding: 10px 30px;
}

.nav__shopping{
    display: flex;
    align-items: center;
    gap: 5px;
    height: 100%;
    color: var(--verde);
    font-weight: bold;
}

.nav__shopping i{
    width: 34px;
    height: 34px;
    border-radius: 50%;
    padding: 10px;
    overflow: hidden;
    background-color: #fff;
}

.nav__hamburguer{
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
    cursor: pointer;
    background: none;
    border: none;
    display: none;
}

.nav__hamburguer--img{
    display: block;
    width: 36px;
}

.fa-bars{
    display: block;
    color: var(--blanco);
    width: 36px;
    font-size: 26px;
}

@media (max-width: 576px) {
    .nav__hamburguer{
        display: flex;
    }
    .nav__item{
        --clip: 0;
        overflow: hidden;
    }
    .nav__item--active{
        --transform: rotate(0);
        --background: var(--purpura-oscuro)
    }
    .nav__item--show{
        background-color: var(--background);
    }
    .nav__links{
        position: fixed;
        max-width: 400px;
        width: 100%;
        height: auto;
        top: 70px;
        bottom: 0;
        right: 0;
        background-color: var(--azul);
        overflow-y: auto;
        display: grid;
        grid-auto-rows: max-content;
        transform: translateX(100%);
    }
    .nav__links--show{
        transform: unset;
        width: 100%;
    }
    .nav__link{
        padding: 25px 0;
        padding-left: 30px;
        height: auto;
    }
    .nav__arrow{
        margin-left: auto;
        margin-right: 20px;
    }
    .nav__nesting{
        display: grid;
        position: unset;
        width: 100%;
        transform: translateY(0);
        height: 0;
        transition: height .3s;
    }
    .nav__link--inside{
        width: 90%;
        margin-left: auto;
        border-left: 1px solid var(--blanco);
    }
}