/* ****************** HEADER ****************** */
header{
    position: relative;
    padding: 10px 15px;
    background-color: var(--purpura);
    overflow: hidden;
}

header .nav{
    width: 100%;
    display: block;
}

header .nav .menu__logo{
    width: 100%;
    display: flex;
    justify-content: center;
}

header .nav .menu__logo img{
    height: 40px;
}
header .nav .menu__logo svg{
    max-height: 40px;
    fill: var(--blanco);
}

header .nav__toggle{
    position: absolute;
    top: 15px;
    left: 25px;
    cursor: pointer;
}

header .nav__toggle i{
    font-size: var(--text-md);
    background-color: var(--blanco);
    color: var(--negro);
    padding: 10px;
    border-radius: 50%;
}

header .nav__toggle .close{
    display: none;
}

header .nav__checkbox{
    display: none;
}

header ul.nav__menu{
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
}

header ul.nav__menu li{
    list-style-type: none;
    display: none;
    overflow: hidden;
    border-radius: 10px;
}

header ul.nav__menu li a{
    display: block;
    padding: 10px 0;
    border-radius: 5px;
    color: var(--blanco);
    text-decoration: none;
    text-transform: uppercase;
    font-size: var(--text-sm);
}

header ul.nav__menu li a:hover{
    background-color: var(--purpura-oscuro);
}

header ul.nav__menu .nav__icon{
    position: absolute;
    top: 5px;
    right: 30px;
    gap: 10px;
}
header ul.nav__menu .nav__icon li{
    position: relative;
    display: block;
}

header ul.nav__menu .nav__icon li{
    border-radius: 0px;
}

header ul.nav__menu .nav__icon li .shopping .price{
    display: none;
}

header ul.nav__menu .nav__icon li .shopping a i{
    padding: 10px;
    background-color: var(--verde-claro);
    border-radius: 50%;
}

header ul.nav__menu .nav__icon .shopping i span{
    position: absolute;
    top: 0px;
    right: -5px;
    background-color: var(--azul);
    padding: 5px;
    border-radius: 50%;
    font-size: var(--text-sm);
}

header ul.nav__menu .nav__icon li.user a i{
    padding: 10px;
    background-color: var(--blanco);
    color: var(--negro);
    border-radius: 50%;
}

header ul.nav__menu li .nav__form{
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
}

header ul.nav__menu li .nav__form input{
    width: 100%;
    padding: 6px 12px;
    border: none;
    border-radius: 12px;
    font-size: var(--text-md);
}

header ul.nav__menu li .nav__form button{
    position: absolute;
    right: 5px;
    padding: 5px;
    border: none;
    background-color: transparent;
}

header .nav #nav__checkbox:checked ~ ul.nav__menu li{
    display: block;
}

header .nav #nav__checkbox:checked ~ label.nav__toggle .close{
    display: block;
}

header .nav #nav__checkbox:checked ~ label.nav__toggle .menu{
    display: none;
}

/* ****************** SECTION FORM SEARCH ****************** */
section.form-search{
    padding: 10px;
    background-color: var(--azul);
    box-shadow: 0 0 5px var(--negro);
}

section.form-search .nav__form{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    position: relative;
}

section.form-search .nav__form input{
    width: 100%;
    padding: 6px 12px;
    border: none;
    border-radius: 12px;
    font-size: var(--text-md);
}

section.form-search .nav__form button{
    position: absolute;
    right: 5px;
    padding: 5px;
    border: none;
    background-color: transparent;
}

@media screen and (min-width: 576px) {
    /* ****************** HEADER ****************** */
    header .nav{
        display: flex;
        justify-content: space-between;
        width: 93.75%;
        margin: 0 auto;
    }
    header .nav .menu__logo svg{
        height: 55px;
    }
    header .nav label.nav__toggle{
        display: none;
    }
    header .nav .nav__menu{
        flex-direction: row;
        justify-content: flex-end;
        column-gap: 10px;
        column-gap: 10px;
        column-gap: 10px;
    }
    header ul.nav__menu .nav__icon{
        position: static;
        gap: 0;
    }
    header ul.nav__menu .nav__icon li .shopping .price{
        display: inline-block;
        color: var(--verde-claro);
        font-weight: bold;
    }
    header ul.nav__menu .nav__icon .shopping a{
        padding: 2px 0;
    }
    header ul.nav__menu .nav__icon .shopping i span{
        display: none;
    }
    header .nav .nav__menu li a{
        padding: 10px;
        border: none;
    }
    header ul.nav__menu li{
        width: auto;
        display: flex !important;
        align-items: center;
    }
    /* ****************** SECTION FORM SEARCH ****************** */
    section.form-search .nav__form input{
        max-width: 300px;
    }
}
/* 
    576 -> 540 -> 93.75%
    768 -> 720 -> 93.75%
    992 -> 960 -> 96.77%
    1200 -> 1140 -> 95%
    1200 -> 1140 -> 94.2857143%
*/